In [41]:
#importing the required packages
import pandas as pd

In [42]:
#loading The dataset
data_to_load=pd.read_csv("/content/train.csv")

In [43]:
#loading the head values
data_to_load.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50

In [44]:
#checking for null values
data_to_load.isna().sum()

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

In [45]:
data1 = pd.DataFrame(data_to_load)

In [46]:
#(a)Replacing the null values of Mileage, Engine, Power, Seats and New_Price
#Median is used to avoid outliers for Mileage, Engine and Power
#Mode is used for Seats, as seats are only two types(5 or 7)
#Dropping the New_Price column, because there are two many null values

In [47]:
# To perform the above operations, we need to convert the float values to int values

###(b)
#  Removing the units from Mileage, Engine, Power and New_Price
data1['Mileage'] = data1['Mileage'].str.extract('(\d+\.\d+)').astype(float)

data1['Engine'] = data1['Engine'].str.replace(' CC', '').astype(float)

data1['Power'] = data1['Power'].str.extract('(\d+\.\d+)').astype(float)

data1['New_Price'] = data1['New_Price'].str.extract('(\d+\.\d+)').astype(float)

In [48]:
data1['Mileage'].fillna(data1['Mileage'].median(),inplace=True)
data1['Engine'].fillna(data1['Engine'].median(),inplace=True)
data1['Power'].fillna(data1['Power'].median(),inplace=True)
data1['Seats'].fillna(data1['Seats'].mode()[0],inplace=True)

data1.drop('New_Price', axis=1, inplace=True)

In [49]:
data1.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.19,1199.0,88.70,5.0,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,3.50

In [52]:
output_file = '/content/clean_data.csv'
data1.to_csv(output_file, index = False)

In [53]:
data2 = pd.read_csv('/content/clean_data.csv')

In [54]:
data2.isna().sum()

Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

In [56]:
# (c)
# Changing the "Fuel_Type" and "Transmission" into numerical values

data2['Fuel_Type'].unique()
data2['Transmission'].unique()
data2['Owner_Type'].unique()

data2['Fuel_Type'].replace({'Diesel': 0, 'Petrol': 1, 'Electric': 2}, inplace=True)
data2['Transmission'].replace({'Manual': 0, 'Automatic': 1}, inplace=True)
data2['Owner_Type'].replace({'First': 1, 'Second': 2, 'Third': 3, 'Fourth & Above': 4}, inplace=True)

output_file = '/content/encoded_Data.csv'
data2.to_csv(output_file, index = False)

data2.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,0,1,19.67,1582.0,126.20,5.0,12.50
1,2,Honda Jazz V,Chennai,2011,46000,1,0,1,18.19,1199.0,88.70,5.0,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,0,0,1,20.77,1248.0,88.76,7.0,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,1,2,15.20,1968.0,140.80,5.0,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,0,0,1,23.08,1461.0,63.10,5.0,3.50

In [57]:
#(d)
# Adding one more column called car_type where if the car has 5seats it is a sedan and if it has 7seats then it is a SUV.

def car_type(Seats):
  if Seats == 5:
    return "Sedan"
  else:
    return "SUV"

data2['Car_Type'] = data2['Seats'].apply(car_type)

output_file = '/content/mutated_Data.csv'
data2.to_csv(output_file, index = False)
data2.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Car_Type
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,0,0,1,19.67,1582.0,126.20,5.0,12.50,Sedan
1,2,Honda Jazz V,Chennai,2011,46000,1,0,1,18.19,1199.0,88.70,5.0,4.50,Sedan
2,3,Maruti Ertiga VDI,Chennai,2012,87000,0,0,1,20.77,1248.0,88.76,7.0,6.00,SUV
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,0,1,2,15.20,1968.0,140.80,5.0,17.74,Sedan
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,0,0,1,23.08,1461.0,63.10,5.0,3.50,Sedan

In [58]:
#(e)Performing various operations like select,filter,rename,mutate,arrange

In [19]:
# Selecting specific columns
selected_columns = data2[['Kilometers_Driven', 'Fuel_Type', 'Price', 'Mileage', 'Engine']]
print(selected_columns.head())

   Kilometers_Driven  Fuel_Type  Price  Mileage  Engine
0              41000          0  12.50    19.67  1582.0
1              46000          1   4.50    18.19  1199.0
2              87000          0   6.00    20.77  1248.0
3              40670          0  17.74    15.20  1968.0
4              86999          0   3.50    23.08  1461.0
   Unnamed: 0                                 Name    Location  Year  \
0           1     Hyundai Creta 1.6 CRDi SX Option        Pune  2015
2           3                    Maruti Ertiga VDI     Chennai  2012
3           4      Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
5           7    Toyota Innova Crysta 2.8 GX AT 8S      Mumbai  2016
6           8  Volkswagen Vento Diesel Comfortline        Pune  2013

   Kilometers_Driven  Fuel_Type  Transmission  Owner_Type  Mileage  Engine  \
0              41000          0             0           1    19.67  1582.0
2              87000          0             0           1    20.77  1248.0
3              40670          0             1           2    15.20  1968.0
5              36000          0             1           1    11.36  2755.0
6              64430          0             0           1    20.54  1598.0

    Power  Seats  Price Car_Type
0  126.20    5.0  12.50    Sedan
2   88.76    7.0   6.00      SUV
3  140.80    5.0  17.74    Sedan
5  171.50    8.0  17.50      SUV
6  103.60    5.0   5.20    Sedan
   Unnamed: 0                              Name    Location  Year  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1           2                      Honda Jazz V     Chennai  2011
2           3                 Maruti Ertiga VDI     Chennai  2012
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6            Nissan Micra Diesel XV      Jaipur  2013

   Kilometers_Driven  Fuel_Type  Transmission  Owner_Type  Mileage_kmpl  \
0              41000          0             0           1         19.67
1              46000          1             0           1         18.19
2              87000          0             0           1         20.77
3              40670          0             1           2         15.20
4              86999          0             0           1         23.08

   Engine   Power  Seats  Price Car_Type
0  1582.0  126.20    5.0  12.50    Sedan
1  1199.0   88.70    5.0   4.50    Sedan
2  1248.0   88.76    7.0   6.00      SUV
3  1968.0  140.80    5.0  17.74    Sedan
4  1461.0   63.10    5.0   3.50    Sedan
   Unnamed: 0                              Name    Location  Year  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1           2                      Honda Jazz V     Chennai  2011
2           3                 Maruti Ertiga VDI     Chennai  2012
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6            Nissan Micra Diesel XV      Jaipur  2013

   Kilometers_Driven  Fuel_Type  Transmission  Owner_Type  Mileage_kmpl  \
0              41000          0             0           1         19.67
1              46000          1             0           1         18.19
2              87000          0             0           1         20.77
3              40670          0             1           2         15.20
4              86999          0             0           1         23.08

   Engine   Power  Seats  Price Car_Type  Price_adjusted
0  1582.0  126.20    5.0  12.50    Sedan       1250000.0
1  1199.0   88.70    5.0   4.50    Sedan        450000.0
2  1248.0   88.76    7.0   6.00      SUV        600000.0
3  1968.0  140.80    5.0  17.74    Sedan       1774000.0
4  1461.0   63.10    5.0   3.50    Sedan        350000.0
      Unnamed: 0                                         Name    Location  \
3952        4079  Land Rover Range Rover 3.0 Diesel LWB Vogue   Hyderabad
5620        5781                   Lamborghini Gallardo Coupe       Delhi
5752        5919                       Jaguar F Type 5.0 V8 S   Hyderabad
1457        1505              Land Rover Range Rover Sport SE       Kochi
1917        1974                           BMW 7 Series 740Li  Coimbatore

      Year  Kilometers_Driven  Fuel_Type  Transmission  Owner_Type  \
3952  2017              25000          0             1           1
5620  2011               6500          1             1           3
5752  2015               8000          1             1           1
1457  2019              26013          0             1           1
1917  2018              28060          1             1           1

      Mileage_kmpl  Engine  Power  Seats   Price Car_Type  Price_adjusted
3952         13.33  2993.0   88.8    5.0  160.00    Sedan      16000000.0
5620          6.40  5204.0   88.8    2.0  120.00      SUV      12000000.0
5752         12.50  5000.0  488.1    2.0  100.00      SUV      10000000.0
1457         12.65  2993.0   88.8    5.0   97.07    Sedan       9707000.0
1917         12.05  2979.0   88.8    5.0   93.67    Sedan       9367000.0
Location
Ahmedabad      8.567248
Bangalore     13.482670
Chennai        7.958340
Coimbatore    15.160206
Delhi          9.881944
Hyderabad      9.997423
Jaipur         5.916725
Kochi         11.309109
Kolkata        5.733924
Mumbai         9.592546
Pune           6.951000
Name: Price, dtype: float64

In [20]:
# Filtering based on conditions
filtered_data = data2[data2['Price'] > 5]  # Example condition: Price greater than 5 lakhs
print(filtered_data.head())

   Unnamed: 0                                 Name    Location  Year  \
0           1     Hyundai Creta 1.6 CRDi SX Option        Pune  2015
2           3                    Maruti Ertiga VDI     Chennai  2012
3           4      Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
5           7    Toyota Innova Crysta 2.8 GX AT 8S      Mumbai  2016
6           8  Volkswagen Vento Diesel Comfortline        Pune  2013

   Kilometers_Driven  Fuel_Type  Transmission  Owner_Type  Mileage_kmpl  \
0              41000          0             0           1         19.67
2              87000          0             0           1         20.77
3              40670          0             1           2         15.20
5              36000          0             1           1         11.36
6              64430          0             0           1         20.54

   Engine   Power  Seats  Price Car_Type  Price_adjusted
0  1582.0  126.20    5.0  12.50    Sedan       1250000.0
2  1248.0   88.76    7.0   6.00      SUV        600000.0
3  1968.0  140.80    5.0  17.74    Sedan       1774000.0
5  2755.0  171.50    8.0  17.50      SUV       1750000.0
6  1598.0  103.60    5.0   5.20    Sedan        520000.0

In [21]:
# Renaming columns
data2.rename(columns={'Mileage': 'Mileage_kmpl'}, inplace=True)
print(data2.head())

   Unnamed: 0                              Name    Location  Year  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1           2                      Honda Jazz V     Chennai  2011
2           3                 Maruti Ertiga VDI     Chennai  2012
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6            Nissan Micra Diesel XV      Jaipur  2013

   Kilometers_Driven  Fuel_Type  Transmission  Owner_Type  Mileage_kmpl  \
0              41000          0             0           1         19.67
1              46000          1             0           1         18.19
2              87000          0             0           1         20.77
3              40670          0             1           2         15.20
4              86999          0             0           1         23.08

   Engine   Power  Seats  Price Car_Type  Price_adjusted
0  1582.0  126.20    5.0  12.50    Sedan       1250000.0
1  1199.0   88.70    5.0   4.50    Sedan        450000.0
2  1248.0   88.76    7.0   6.00      SUV        600000.0
3  1968.0  140.80    5.0  17.74    Sedan       1774000.0
4  1461.0   63.10    5.0   3.50    Sedan        350000.0

In [22]:
# Mutating data
data2['Price_adjusted'] = data2['Price'] * 100000  # Example mutation: Converting price to rupees
print(data2.head())

   Unnamed: 0                              Name    Location  Year  \
0           1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1           2                      Honda Jazz V     Chennai  2011
2           3                 Maruti Ertiga VDI     Chennai  2012
3           4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           6            Nissan Micra Diesel XV      Jaipur  2013

   Kilometers_Driven  Fuel_Type  Transmission  Owner_Type  Mileage_kmpl  \
0              41000          0             0           1         19.67
1              46000          1             0           1         18.19
2              87000          0             0           1         20.77
3              40670          0             1           2         15.20
4              86999          0             0           1         23.08

   Engine   Power  Seats  Price Car_Type  Price_adjusted
0  1582.0  126.20    5.0  12.50    Sedan       1250000.0
1  1199.0   88.70    5.0   4.50    Sedan        450000.0
2  1248.0   88.76    7.0   6.00      SUV        600000.0
3  1968.0  140.80    5.0  17.74    Sedan       1774000.0
4  1461.0   63.10    5.0   3.50    Sedan        350000.0

In [23]:
# Arranging data
df_sorted = data2.sort_values(by='Price', ascending=False)
print(df_sorted.head())

      Unnamed: 0                                         Name    Location  \
3952        4079  Land Rover Range Rover 3.0 Diesel LWB Vogue   Hyderabad
5620        5781                   Lamborghini Gallardo Coupe       Delhi
5752        5919                       Jaguar F Type 5.0 V8 S   Hyderabad
1457        1505              Land Rover Range Rover Sport SE       Kochi
1917        1974                           BMW 7 Series 740Li  Coimbatore

      Year  Kilometers_Driven  Fuel_Type  Transmission  Owner_Type  \
3952  2017              25000          0             1           1
5620  2011               6500          1             1           3
5752  2015               8000          1             1           1
1457  2019              26013          0             1           1
1917  2018              28060          1             1           1

      Mileage_kmpl  Engine  Power  Seats   Price Car_Type  Price_adjusted
3952         13.33  2993.0   88.8    5.0  160.00    Sedan      16000000.0
5620          6.40  5204.0   88.8    2.0  120.00      SUV      12000000.0
5752         12.50  5000.0  488.1    2.0  100.00      SUV      10000000.0
1457         12.65  2993.0   88.8    5.0   97.07    Sedan       9707000.0
1917         12.05  2979.0   88.8    5.0   93.67    Sedan       9367000.0

In [24]:
# Summarizing with group by operations
grouped_data = data2.groupby('Location')['Price'].mean()
print(grouped_data)

Location
Ahmedabad      8.567248
Bangalore     13.482670
Chennai        7.958340
Coimbatore    15.160206
Delhi          9.881944
Hyderabad      9.997423
Jaipur         5.916725
Kochi         11.309109
Kolkata        5.733924
Mumbai         9.592546
Pune           6.951000
Name: Price, dtype: float64